<ion-content>
  <div class="main-div ion-padding">
    <h1 class="ion-padding">Money  Tracker</h1>

    <div class="list">
      <ion-list>
        <ion-item-sliding *ngFor="let transaction of moneyTransactions">
          <ion-item>
            <ion-label>
              {{transaction.title}}
              <p [ngClass]="{expense: transaction.type == 'expense',income: transaction.type == 'expense'}">{{transaction.subTitle}}</p>
            </ion-label>
            <p class="amount" [ngClass]="{expense: transaction.type == 'expense',income: transaction.type == 'expense'}">${{transaction.amount}}</p>
          </ion-item>
            <ion-item-option side="end">
              <ion-item-option color="danger">
               <ion-icon name="trash-outline" (click)="delete_transaction(transaction.id)"></ion-icon>
            </ion-item-option>
            <ion-item-option color="dark">
              <ion-icon name="create-outline" routerLink="/add-edit-data/edit"></ion-icon>
            </ion-item-option>
          </ion-item-option>
        </ion-item-sliding>
      </ion-list>
    </div>
    <ion-fab-button color="dark">
      <ion-icon name="add-outline" routerLink="/add-edit-data/add">
      </ion-icon>
    </ion-fab-button>
  </div>
</ion-content>
